* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  height: 100vh;
  background-color: #f5f5f4;
  display: grid;
  grid-template-rows: 1fr 0.5fr 4fr 0.5fr;
}

/*Items with border*/
.add-button-container,
.book,
.new-book-prompt {
  border: 2px solid black;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
}
.header .logo {
  font-size: 36px;
  margin-left: 50px;
  font-weight: 700;
}

.add-button-container {
  display: flex;
  justify-content: right;
  align-items: center;
}
.add-book {
  margin-right: 50px;
  outline: none;
  border-radius: 20px;
  background-color: #cffafe;
  padding: 10px 14px 10px 14px;
  font-size: 18px;
  border: 2px solid black;
}

.library-area {
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow: scroll;
}
@media only screen and (min-width: 800px) {
  .library-area {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
  }
}
.library-area > * {
  height: 400px;
}

.book,
.new-book-prompt {
  display: grid;
  grid-template-rows: 3fr 2fr 1fr;
  position: relative;
}
.delete {
  position: absolute;
  top: 4px;
  left: 10px;
  font-size: 24px;
  display: none;
  background-color: #f5f5f4;
  border: none;
  opacity: 50%;
}
.delete-book-prompt {
  position: absolute;
  top: 4px;
  left: 30px;
}
.delete-book-prompt button {
  font-size: 24px;
  border: none;
  background-color: #f5f5f4;
}

/*Interactives*/
.delete,
.add-book,
.read,
.unread {
  cursor: pointer;
}

.title,
.author,
.read-button,
.input-title,
.input-author {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #f5f5f4;
}
.title {
  resize: none;
}
.input-title {
  font-size: 36px;
  resize: none;
}
.author,
.input-author {
  font-size: 22px;
  font-style: italic;
  resize: none;
}

.input-buttons button {
  padding: 8px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #cffafe;
}
.input-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.input-buttons button:nth-child(1):hover,
.input-buttons button:nth-child(1):focus {
  background-color: #dc2626;
}
.input-buttons button:nth-child(2):hover,
.input-buttons button:nth-child(2):focus,
.add-book:hover {
  background-color: #34d399;
}

.read,
.unread {
  padding: 8px;
  border: 2px solid black;
  border-radius: 10px;
}
.read {
  background-color: #34d399;
}
.unread {
  background-color: #ef4444;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
